body, html
{
    background-color: aqua;
    height: 100vh;
}

h1
{
    color: yellowgreen;
}

@media only screen and (max-width: 1000px){
    body
    {
        background-color: brown;
    }
}


@media only screen and (max-width: 500px)
{
    body, html
    {
        background-color: blueviolet;
    }

    h1
    {
        color: lightpink;
    }
}

